<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Trip</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>
    <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>¿A dónde?</ion-label>
        <ion-select placeholder="Seleccione un Destino" formControlName="lugar">
          <ion-select-option *ngFor="let d of destinos" [value]="d.nombre">{{d.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de inicio</ion-label>
        <ion-datetime formControlName="fechaI" [min]="fechaMinima" displayFormat="DD MM YY" placeholder="DD MM YY">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de finalización</ion-label>
        <ion-datetime formControlName="fechaF" [min]="fechaMinima" displayFormat="DD MM YY" placeholder="DD MM YY">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Presupuesto Hospedaje</ion-label>
        <ion-input required formControlName="hotelP" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Presupuesto Comida</ion-label>
        <ion-input required formControlName="comidaP" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Presupuesto Diversión</ion-label>
        <ion-input required formControlName="diversionP" type="number"></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" color="primary" type="submit" [disabled]="tripForm.invalid || cargando">
        Crear
      </ion-button>
    </form>
  </div>
</ion-content>