<ion-app>
  <ion-menu side="start" contentId="menu1" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item class="menu-item" lines="none" routerLink="/perfil">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label class="menu-label">Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item class="menu-item" lines="none" routerLink="/mis-trips">
              <ion-icon name="map" slot="start"></ion-icon>
              <ion-label class="menu-label">Mis Trips</ion-label>
            </ion-item>
          </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="menu-item" lines="none" routerLink="/configuracion">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label class="menu-label">Configuración</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-menu-toggle>
        <ion-item class="menu-item" lines="none" (click)="logOut()" button>
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label class="menu-label" style="font-size: 16px">Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="menu1"></ion-router-outlet>
</ion-app>