<ion-header #myheader no-border>
  <ion-toolbar>
    <ion-title>Hoteles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" hide-header [header]="myheader">
  <ion-list>
    <ion-card *ngFor="let h of hotelesFiltrados" class="ion-no-padding"  [routerLink]="['/', 'home', 'tabs', 'tab2', 'hotel',h.id] ">
      <ion-card-content class="card-background-page ion-no-padding"> 
        <img class="my-card" [src]="h.urlImage" (error)="onImgError($event)"/>
        <div class="overlay">
          <div class="card-title">{{h.nombre}}</div>
          <div class="card-subtitle">{{h.precio_noche |currency:'MXN'}}</div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>